# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# JetBrains
.idea/
*.iml

# Databricks
.databricks/

# OS
.DS_Store
Thumbs.db

# Ignore only large synthetic dataset
0_data/2_Child_company_SyntheticData/

